apiVersion: apps/v1
kind: Deployment 
metadata:
  name: medilab-ui-deployment
  #namespace: medilab-app-ns
  labels: 
    app: medilab-app
    env: dev
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: medilab-ui-pods
  template:
    metadata: 
      labels: 
        app: medilab-ui-pods
    spec:
      containers:
        - name: medilab-ui-container
          image: ashokit/medilab-ui
          ports:
            - containerPort: 3000
            
